page-home {
    
        .homeBackground {
            height: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            // background: #70bg32;
            background-repeat:no-repeat;
            
            background: -webkit-linear-gradient( to left top, rgb(247, 247, 247), red);
            background: -moz-linear-gradient( to left top, #C7C6C6, #EEEDED);
            background: -ms-linear-gradient( to left top, #F9F9F9, #FFFFFF);
            background: -o-linear-gradient( to left top, #CBCBCB, #D5D5D5);
            background: linear-gradient( to left top, #EEEDED, #2C2D2D);
            position: fixed;
                     
              
           }

           .item-content {
               background-color: #2C2D2D;
           }
     
     }
    