// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}

.sidemenu {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, rgb(247, 247, 247), red);
    background: -moz-linear-gradient( to left top, #C7C6C6, #EEEDED);
    background: -ms-linear-gradient( to left top, #F9F9F9, #FFFFFF);
    background: -o-linear-gradient( to left top, #CBCBCB, #D5D5D5);
    background: linear-gradient( to left top, #EEEDED, #2C2D2D);
    position: fixed;
    
   }